body {
    color: rgb(4, 4, 99);
    text-align: center;
}

h3{    
    font-weight: bold;
    color: #894f3b;
    font-size: 170%;
    text-align: center;
    letter-spacing: 1px;  
}

p{
    text-align: justify;
    text-indent: 15px;
}

.img-thumbnail{
    width: 100%;
    height: auto;
}


body{
    background-color: whitesmoke;
}


li{
    
    margin-right: 20px;
}
   
header{
    color: darkblue;
    border-bottom: 50px gray;
    padding: 10px 15px;
}

.navbar{
    background-color: lightcyan;
    
}

.homepic{
    width: 70%;
}

ul {
    font-size: 30px;
    list-style: none;
}

